@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  --skygreen: #04a36b;
  --skyblue: #04a89a;
  --white: #ffffff;
  --gray: lightgray;
  --black: #000000;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  --lightgray: rgba(148, 141, 141, 0.116);
}

.container__fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 60px 100px;
  background-color: var(--white);
  box-shadow: 2px 2px 5px var(--gray), -2px -2px 5px var(--gray);
  border-radius: 20px;
}
.left__side {
  z-index: 3;
  width: 40%;
  background-image: linear-gradient(45deg, #04a36b, #04a89a);
  text-align: center;
  padding: 210px 0px;
  color: var(--white);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
  transition: 0.6 ease-in-out;
}
/* .left__side.animation {
  animation-name: move;
  animation-duration: 3s;
  animation-fill-mode: forwards;
} */

.heading_left,
.heading_right {
  font-size: 40px;
}
.heading_left,
.heading_right,
.paragraph {
  margin-bottom: 20px;
}
.primary__btn,
.secondary__btn {
  padding: 15px 70px;
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 25px;
  color: var(--white);
  cursor: pointer;
  margin-left: 165px;
}
.secondary__btn {
  display: none;
}
.right__side {
  width: 60%;
  padding: 70px 0px;
  transition: all 0.6s ease-in-out;
}
/* .right__side.animation {
  animation-name: right;
  animation-duration: 3s;
  animation-fill-mode: forwards;
} */
.heading_right {
  text-align: center;
  color: var(--skyblue);
}
.r-paragraph {
  text-align: center;
}
.icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 160px;
  margin: 20px auto;
}

.icon-box {
  border: 1px solid black;
  width: 40px;
  text-align: center;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.icon-box i {
  position: relative;
  top: 20%;
  font-style: 30px;
}

.input__field {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: none;
  width: 400px;
  background-color: var(--lightgray);
  margin: 10px auto;
}
input {
  width: 360px;
  font-size: 17px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: var(--black);
  outline: none;
}
.input__field i {
  color: var(--gray);
}

.signUp__btn {
  padding: 15px 70px;
  background-color: var(--skyblue);
  border: 1px solid var(--white);
  border-radius: 25px;
  color: var(--white);
  cursor: pointer;
  margin-left: 40%;
  margin-top: 10px;
}

.signIn {
  display: none;
}
